$bg-color: #111116;
$radius: 32px;
$border: 4px;
$circle1-color: #fc1460;
$circle2-color: #5a87ff;
$circle3-color: #18fd91;
$circle4-color: #fbf38c;

.loadingWrapper {
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.reload-warning {
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(223, 219, 219);
    .reload-text {
        opacity: 0;
    }
}
.circle {
    display: inline-block;
    width: $radius;
    height: $radius;
    border-radius: 50%;
    margin: 0 4px;
}

.circle-1 {
    border: $border solid $circle1-color;
}

.circle-2 {
    border: $border solid $circle2-color;
}

.circle-3 {
    border: $border solid $circle3-color;
}

.circle-4 {
    border: $border solid $circle4-color;
}
